<template>
  <div class="row my-3 justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12" v-if="duplicateDatabases">
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Tips! </strong> You should choose tow different databases.
                <button type="button" @click="duplicateDatabases = !duplicateDatabases" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            <div class="col-md-6">
              <label>Select First Database</label>
                <select @change="CompareDatabases" name="database1" id="database1" v-model="form.database1" class="form-select mt-1" aria-label="Select first database">
                  <option v-for="(database, index) in databases" :key="index" :value="database.name">{{database.name}}</option>
                </select>
            </div>
            <div class="col-md-6">
              <label>Select Second Database</label>
              <select @change="CompareDatabases" name="database2" id="database2" v-model="form.database2" class="form-select mt-1" aria-label="Select second database">
                <option v-for="(database, index) in databases" :key="index" :value="database.name">{{database.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3" v-if="compDatabases">
      <div class="card">
        <div class="card-header">
          <span>Comparison Results</span>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Database Start-->
            <div class="col-md-6" v-for="(database, index) in compDatabases" :key="index">
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <h2>{{database.name}}</h2>
                  </div>
                </div>
                <div class="col-md-12" v-for="(table, index) in database.tables" :key="index">
                  <div class="card mt-1">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <h3 class="float-left" :style="{color: table.color ? table.color : '#ff0000'}">{{table.name}}</h3>
                          <span class="ml-2">{{ table.columns.length }}</span>
                          <div class="float-right">
                            <button class="btn btn-primary btn-sm" @click="TableToMigrateFile(table)">Create migration</button>
                            <button class="btn btn-primary btn-sm" @click="showModelNameSpaceForm(database.name, table.name)">Create seeder</button>
                            <button class="btn btn-primary btn-sm" @click="UpdateDatabaseTable(database.name, table)">Update Table</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-12">
                              <div><strong>Name</strong></div>
                              <div v-for="(column, index) in table.columns" :key="index">
                                <span :style="{color: column.color ? column.color : '#ff0000'}">{{column.name}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-12">
                              <div><strong>Type</strong></div>
                              <div v-for="(column, index) in table.columns" :key="index">
                                <span :style="{color: column.colorType ? column.colorType : '#ff0000'}">{{column.type}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-12">
                              <div><strong>Default</strong></div>
                              <div v-for="(column, index) in table.columns" :key="index">
                                <span :style="{color: column.colorDefault ? column.colorDefault : '#ff0000'}">{{column.default === null ? 'NULL' : column.default}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Database End -->
          </div>
        </div>
      </div>
    </div>

    <!-- Namespace Model Start -->
    <div class="modal fade" id="namespaceModel" tabindex="-1" aria-labelledby="namespaceModelLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="namespaceModelLabel">Modal namespace</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Please write model namespace for {{this.selected.table}} table</p>
            <input type="text" v-model="selected.modelNameSpace" placeholder="Model namespace" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="TableToSeederFile">Create</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Namespace Model End -->
  </div>
</template>

<script>
    export default {
      data() {
        return {
          loading: false,
          database1: null,
          database2: null,
          compDatabases: null,
          databases: [],
          form:{
            database1: '',
            database2: ''
          },
          selected: {
            database: '',
            table: '',
            modelNameSpace: '',
          },
          duplicateDatabases: false,
          results: null,
        }
      },
      methods: {
        showModelNameSpaceForm(database, table) {
          this.selected.database = database
          this.selected.table = table
          $("#namespaceModel").modal("show");
        },
        CompareDatabases() {
          this.loading = true
          this.duplicateDatabases = false
          if(
            this.form.database1 === this.form.database2 ||
            this.form.database1 === '' ||
            this.form.database2 === ''
          )
          {
            this.duplicateDatabases = true
            return false
          }
          this.compDatabases = null
          axios.post('http://127.0.0.1:8000/admin/db-compare/compare', this.form)
            .then(response => {
              this.compDatabases = response.data.data
              this.loading = false
            })
            .catch(error => {
              console.log(error)
              this.loading = false
            })
        },
        TableToMigrateFile(table) {
          axios.post('http://127.0.0.1:8000/admin/db-compare/migrate', table)
            .then(response => {
              console.log(response)
              this.$toasted.show(response.data.message, { type: 'success'})
              this.loading = false
            })
            .catch(error => {
              this.$toasted.show(error, { type: 'error'})
              this.loading = false
            })
        },
        UpdateDatabaseTable(database, table) {
          let todatabase
          if(this.form.database1 === database) {
            todatabase = this.form.database2
          } else if (this.form.database2  === database) {
            todatabase = this.form.database1
          } else {
            this.$toasted.show('Please choose correct database', { type: 'error'})
            return false
          }
          axios.post('http://127.0.0.1:8000/admin/db-compare/updateTable', {fromDatabase: database, toDatabase: todatabase, table: table})
            .then(response => {
              this.$toasted.show(response.data.message, { type: 'success'})
              this.CompareDatabases()
              this.loading = false
            })
            .catch(error => {

              this.loading = false
            })
        },
        TableToSeederFile() {
          if(this.selected.modelNameSpace === '') {
            this.$toasted.show('type model namespace', { type: 'info'})
            return false
          }
          axios.post('http://127.0.0.1:8000/admin/db-compare/seeder', {database: this.selected.database, table: this.selected.table, namespace: this.selected.modelNameSpace})
            .then(response => {
              this.$toasted.show(response.data.message, { type: 'success'})
              $("#namespaceModel").modal("hide");
            })
            .catch(error => {
              this.$toasted.show('No data in the table', { type: 'error'})
              $("#namespaceModel").modal("hide");
            })
        }
      },
      mounted() {
        axios.get('http://127.0.0.1:8000/admin/db-compare/getdatabases')
          .then(response => {
            this.databases = response.data.data
          })
          .catch(error => { console.log(error) })
      }
    }
</script>
<style scoped>
img {
  width: 30px;
  height: 30px;
}
</style>
